Dishwasser.json
[{"id":"c577421a.fb7f7","type":"tab","label":"bediening_solar","disabled":false,"info":""},{"id":"72254195.21f4c","type":"delay","z":"c577421a.fb7f7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":440,"y":400,"wires":[["ca2b35f3.a99d08"]]},{"id":"d1920083.9df12","type":"trigger","z":"c577421a.fb7f7","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"s","reset":"OFF","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":40,"wires":[["ca99f53b.cafc98"]]},{"id":"ca2b35f3.a99d08","type":"change","z":"c577421a.fb7f7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":300,"wires":[["d1920083.9df12"]]},{"id":"1297dc13.4b3134","type":"time-range-switch","z":"c577421a.fb7f7","name":"time-solar","lat":"51.764","lon":"5.56944","startTime":"09:00","endTime":"13:15","startOffset":0,"endOffset":0,"x":340,"y":500,"wires":[["35865dd4.cd8382"],[]]},{"id":"766fd914.d8b138","type":"delay","z":"c577421a.fb7f7","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1260,"y":140,"wires":[["1b7a85fb.d81f5a"]]},{"id":"dcdb0df0.a3c6a","type":"time-range-switch","z":"c577421a.fb7f7","name":"time-start","lat":"51.75284","lon":"5.55927","startTime":"13:00","endTime":"13:15","startOffset":0,"endOffset":0,"x":380,"y":300,"wires":[["6d15679d.7a34d8"],[]]},{"id":"ca99f53b.cafc98","type":"api-call-service","z":"c577421a.fb7f7","name":"zet vaatwasser aan","server":"f80ef2b4.732fd","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.vaatwasser_power"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":40,"wires":[["766fd914.d8b138"]]},{"id":"35865dd4.cd8382","type":"api-current-state","z":"c577421a.fb7f7","name":"","server":"f80ef2b4.732fd","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_production","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":720,"y":460,"wires":[["3019fd54.ef1f12","ec942758.a1b428"]]},{"id":"e19d881a.0dfb88","type":"bigtimer","z":"c577421a.fb7f7","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"540","endtime":"810","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":480,"wires":[[],["dcdb0df0.a3c6a","1297dc13.4b3134"],[]]},{"id":"3019fd54.ef1f12","type":"switch","z":"c577421a.fb7f7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.600","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":520,"wires":[["6d15679d.7a34d8"]]},{"id":"39a56233.dc1c3e","type":"switch","z":"c577421a.fb7f7","name":"topic","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":100,"wires":[["abf3c3c6decacf56"],["ca2b35f3.a99d08","3e042dd4d57345d3"]]},{"id":"3e348847.7b3618","type":"inject","z":"c577421a.fb7f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":620,"wires":[["b7d05640.e61138"]]},{"id":"b7d05640.e61138","type":"api-current-state","z":"c577421a.fb7f7","name":"","server":"f80ef2b4.732fd","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_production","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":620,"wires":[["d25ccc36.a25d9"]]},{"id":"d25ccc36.a25d9","type":"debug","z":"c577421a.fb7f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":620,"wires":[]},{"id":"6d15679d.7a34d8","type":"gate","z":"c577421a.fb7f7","name":"gate","controlTopic":"control","defaultState":"closed","openCmd":"ON","closeCmd":"OFF","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":550,"y":80,"wires":[["d1920083.9df12"]]},{"id":"1b7a85fb.d81f5a","type":"api-call-service","z":"c577421a.fb7f7","name":"program_intensiv70","server":"f80ef2b4.732fd","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":["4b6757d39ecf418d8d140463881c3f69"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":240,"wires":[["72254195.21f4c"]]},{"id":"ec942758.a1b428","type":"debug","z":"c577421a.fb7f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":380,"wires":[]},{"id":"3e042dd4d57345d3","type":"change","z":"c577421a.fb7f7","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":180,"wires":[["e19d881a.0dfb88","6d15679d.7a34d8"]]},{"id":"abf3c3c6decacf56","type":"change","z":"c577421a.fb7f7","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":240,"wires":[["6d15679d.7a34d8"]]},{"id":"98f02881e6341ca1","type":"server-state-changed","z":"c577421a.fb7f7","name":"","server":"f80ef2b4.732fd","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.afwasmachine","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":40,"wires":[["39a56233.dc1c3e"]]},{"id":"f1821f5701ce1107","type":"api-call-service","z":"c577421a.fb7f7","name":"text to speecch","server":"f80ef2b4.732fd","version":5,"debugenabled":true,"domain":"tts","service":"google_translate_say","areaId":[],"deviceId":[],"entityId":["media_player.googlehome4288"],"data":"{\"cache\":false,\"language\":\"nl\",\"message\":\"de vaatwasser is klaar \"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":740,"wires":[[]]},{"id":"06e503148d070cbb","type":"server-state-changed","z":"c577421a.fb7f7","name":"","server":"f80ef2b4.732fd","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.vaatwasser_operation_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Finished","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":740,"wires":[["f1821f5701ce1107"],[]]},{"id":"f80ef2b4.732fd","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]